version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: email_reader
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/email_reader
      REDIS_URL: redis://redis:6379/0
      RAILS_ENV: development
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    volumes:
      - .:/rails
    command: ["bin/rails", "server", "-b", "0.0.0.0"]

  sidekiq:
    build:
      context: .
      dockerfile: Dockerfile.dev
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/email_reader
      REDIS_URL: redis://redis:6379/0
      RAILS_ENV: development
    depends_on:
      - db
      - redis
    command: ["bundle", "exec", "sidekiq"]
    volumes:
      - .:/rails

volumes:
  db-data:
